<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th><%= I18n.t("pages.users.show.phrases.created_by") %></th>
        <th><%= I18n.t("pages.users.show.phrases.sentence") %></th>
        <th><%= I18n.t("pages.users.show.phrases.comment") %></th>
        <th><%= I18n.t("pages.users.show.phrases.time") %></th>
        <th><%= I18n.t("pages.users.show.phrases.action") %></th>
      </tr>
    </thead>
    <tbody>
    <% @phrases.each do |phrase| %>
      <tr>
        <td><strong><%=link_to phrase.user.username %></strong>:</td>
        <td>
        <%=link_to phrase.sentence, phrase %>
        </td>
        <td><%= pluralize(phrase.comments.count, "Comments") %></td>
        <td>[<%= phrase.created_at.strftime("%R-%m-%d") %>] </td>
        <td><%= link_to 'Destroy', phrase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <hr/>
</div>
