<div class="container">
<h1><%= I18n.t("pages.terms.index.title") %> </h1>
    <%= link_to 'New Term', new_term_path, class: "btn btn-primary" %>
  <br/>
  <br/>
  <table class="table">
    <thead>
      <tr>
      <th>Created_by</th>
      <th><%= I18n.t("pages.terms.index.word") %></th>
      <th><%= I18n.t("pages.terms.index.meaning") %></th>
      <th><%= I18n.t("pages.terms.index.reading") %></th>
      <th>Action</th>
      </tr>
    </thead>
    <tbody>
    <% @terms.each do |term| %>
      <tr>
        <td><%= term.user.username %>:</td>
        <td><%= term.word %></td>
        <td><%= term.meaning %></td>
        <td><%= term.reading %></td>
        <td><strong><%= link_to 'Show', term %></strong></td>
        <td><%= term.likes.count %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <hr/>
</div>