<h1><%= I18n.t ("pages.phrases.edit.title") %></h1>
<td><%= I18n.t ("pages.phrases.edit.created_by") %>:
<strong><%= @phrase.user.username %></strong></td>
</br>
</br>

<%= render 'form', phrase: @phrase %>

<%= link_to 'Show', @phrase, class: "btn btn-warning" %> |
<%= link_to 'Back', phrases_path, class: "btn btn-dark" %>