<div class="topnav" id="myTopnav">
  <%= link_to "Home", root_path, class:"active" %>
  <%= link_to "Terms", terms_path %>
  <%= link_to "Phrases", phrases_path %>
  <% if user_signed_in? %>
  <a><%= link_to('Logout', destroy_user_session_path, method: :delete, style: 'float: right',class: "btn btn-danger" )%></a>
  <a><%= link_to "Profile", current_user, style: 'float: right' %>
  <% else %>
  <a><%= link_to('Login', new_user_session_path, style: 'float: right', class: "btn btn-danger") %></a>
  <% end %>
</div>
<%= javascript_pack_tag "application" %>
